<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>o ya su mi</title>
  <link rel="stylesheet" href="../public/resources/css/style.css">
</head>

<body>
  <canvas id="nodes" width="400" height="400"></canvas>
  <script src='http://www.5iweb.com.cn/statics/js/jquery.1.7.1.min.js'></script>
  <script src='http://www.5iweb.com.cn/statics/js/jquery.easing.js'></script>
  <script src="../public/resources/js/index.js"></script>
</body>

</html>
